.swal2-shown:not(.swal2-no-backdrop) {
  overflow-y: hidden;
}

.swal2-shown.swal2-iosfix {
  position: fixed;
  left: 0;
  right: 0;
}

.swal2-shown.swal2-no-backdrop .swal2-shown {
  background-color: transparent;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.swal2-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 1070;
}

  .swal2-container.swal2-top {
    -ms-flex-align: start;
    align-items: flex-start;
  }

    .swal2-container.swal2-top .swal2-modal {
      margin-top: 1.25rem;
    }

  .swal2-container.swal2-top-left {
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

    .swal2-container.swal2-top-left .swal2-modal {
      margin-top: 1.25rem;
      margin-left: 1.25rem;
    }

  .swal2-container.swal2-top-right {
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

    .swal2-container.swal2-top-right .swal2-modal {
      margin-top: 1.25rem;
      margin-right: 1.25rem;
    }

  .swal2-container.swal2-center {
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
  }

  .swal2-container.swal2-center-left {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

    .swal2-container.swal2-center-left .swal2-modal {
      margin-left: 1.25rem;
    }

  .swal2-container.swal2-center-right {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

    .swal2-container.swal2-center-right .swal2-modal {
      margin-right: 1.25rem;
    }

  .swal2-container.swal2-bottom {
    -ms-flex-align: end;
    align-items: flex-end;
  }

    .swal2-container.swal2-bottom .swal2-modal {
      margin-bottom: 1.25rem;
    }

  .swal2-container.swal2-bottom-left {
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

    .swal2-container.swal2-bottom-left .swal2-modal {
      margin-bottom: 1.25rem;
      margin-left: 1.25rem;
    }

  .swal2-container.swal2-bottom-right {
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

    .swal2-container.swal2-bottom-right .swal2-modal {
      margin-bottom: 1.25rem;
      margin-right: 1.25rem;
    }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .swal2-container .swal2-modal {
    margin: 0 !important;
  }
}

.swal2-container.swal2-fade {
  transition: background-color 0.15s;
}

@media screen and (prefers-reduced-motion: reduce) {
  .swal2-container.swal2-fade {
    transition: none;
  }
}

body:not(.swal2-no-backdrop) .swal2-container.swal2-shown {
  background-color: rgba(0, 0, 0, 0.5);
}

.swal2-grow-fullscreen .swal2-modal {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1.25rem 1.25rem;
}

.swal2-grow-row .swal2-modal {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.swal2-grow-column {
  -ms-flex: 1;
  flex: 1;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}

  .swal2-grow-column.swal2-center-left {
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .swal2-grow-column.swal2-center-right {
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .swal2-grow-column .swal2-modal {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

.swal2-popup {
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
  display: none;
  position: relative;
  max-width: 100%;
  padding: 1.25rem;
  width: 31.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

  .swal2-popup:focus {
    outline: none;
  }

  .swal2-popup.swal2-loading {
    overflow-y: hidden;
  }

@media (min-width: 576px) {
  .swal2-popup {
    margin-left: 0;
    margin-right: 0;
  }
}

.swal2-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}

.swal2-title {
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.5385;
  text-align: center;
  position: relative;
  word-wrap: break-word;
  margin-top: 0.3125rem;
  margin-bottom: 0;
  color: rgb(135, 135, 135) !important;
}

.swal2-content {
  text-align: center;
  position: relative;
  word-wrap: break-word;
}

.swal2-actions {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1.25rem;
}

  .swal2-actions > button + button {
    margin-left: 0.625rem;
  }

  .swal2-actions:not(.swal2-loading) .swal2-styled[disabled] {
    cursor: no-drop;
    opacity: 0.4;
  }

.swal2-loading .swal2-confirm:before {
  content: '\eb55';
  font-family: "icomoon";
  display: inline-block;
  font-size: 1rem;
  -ms-flex-item-align: center;
  align-self: center;
  vertical-align: middle;
  position: relative;
  line-height: 1;
  margin-right: 0.625rem;
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swal2-close {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  opacity: .5;
  width: 1.5rem;
  height: 1.5rem;
  transition: opacity ease-in-out 0.15s;
}

@media screen and (prefers-reduced-motion: reduce) {
  .swal2-close {
    transition: none;
  }
}

.swal2-close:hover, .swal2-close:focus {
  opacity: 1;
  outline: 0;
}

.swal2-input,
.swal2-file,
.swal2-textarea,
.swal2-select,
.swal2-radio,
.swal2-checkbox {
  display: none;
  margin: 1.25rem auto 0 auto;
}

.swal2-popup .select2-container,
.swal2-popup .btn-group,
.swal2-popup .uniform-uploader {
  margin: 1.25rem auto 0 auto;
}

.swal2-checkbox {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

  .swal2-checkbox > span:not(.switchery) {
    margin-left: 0.625rem;
  }

.swal2-radio {
  -ms-flex-pack: center;
  justify-content: center;
}

  .swal2-radio label {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
  }

    .swal2-radio label + label {
      margin-left: 1.25rem;
    }

    .swal2-radio label input,
    .swal2-radio label .uniform-choice {
      margin-right: 0.625rem;
    }

.swal2-range {
  margin-top: 1.25rem;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

  .swal2-range input {
    display: block;
    width: 100%;
  }

  .swal2-range output {
    font-size: 0.9375rem;
    font-weight: 500;
    margin-top: 0.625rem;
  }

.swal2-inputerror, .swal2-inputerror:hover, .swal2-inputerror:focus {
  border-color: #F44336;
}

.swal2-validationerror {
  background-color: #f5f5f5;
  overflow: hidden;
  padding: 0.4375rem 0.875rem;
  display: none;
  margin-top: 1.25rem;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 0.1875rem;
}

  .swal2-validationerror:before {
    content: '\ed68';
    font-family: "icomoon";
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle;
    -ms-flex-item-align: center;
    align-self: center;
    line-height: 1;
    margin-right: 0.625rem;
    color: #F44336;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.swal2-image {
  margin: 0.625rem auto;
  max-width: 100%;
  height: auto;
}

.swal2-icon {
  border: 0.25rem solid transparent;
  margin: 0.625rem auto 1.25rem auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

  .swal2-icon.swal2-success {
    border-color: #66BB6A;
  }

    .swal2-icon.swal2-success [class^='swal2-success-line'][class$='tip'] {
      height: 2.5rem;
      width: 1.25rem;
      /*rtl:ignore*/
      border-right: 0.25rem solid #66BB6A;
      border-top: 0.25rem solid #66BB6A;
      position: absolute;
      /*rtl:ignore*/
      left: 1.25rem;
      top: 2.625rem;
      opacity: 1;
      -webkit-animation: animate-checkmark ease 0.75s;
      animation: animate-checkmark ease 0.75s;
      /*rtl:begin:ignore*/
      -webkit-transform: scaleX(-1) rotate(135deg);
      transform: scaleX(-1) rotate(135deg);
      -webkit-transform-origin: left top;
      transform-origin: left top;
      /*rtl:end:ignore*/
    }

  .swal2-icon.swal2-error {
    border-color: #EF5350;
  }

    .swal2-icon.swal2-error .swal2-x-mark {
      position: relative;
      display: block;
      -ms-flex: 1;
      flex: 1;
    }

    .swal2-icon.swal2-error [class^='swal2-x-mark-line'] {
      position: absolute;
      height: 0.25rem;
      width: 3rem;
      background-color: #EF5350;
      display: block;
      top: 2.375rem;
    }

      .swal2-icon.swal2-error [class^='swal2-x-mark-line'][class$='left'] {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        left: 1rem;
      }

      .swal2-icon.swal2-error [class^='swal2-x-mark-line'][class$='right'] {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        right: 1rem;
      }

  .swal2-icon.swal2-warning {
    color: #FF7043;
    border-color: #FF7043;
    font-size: 4rem;
    line-height: 5rem;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .swal2-icon.swal2-info {
    color: #03A9F4;
    border-color: #03A9F4;
    font-size: 4rem;
    line-height: 5rem;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .swal2-icon.swal2-question {
    color: #455A64;
    border-color: #455A64;
    font-size: 4rem;
    line-height: calc(5rem + 0.25rem);
    -ms-flex-pack: center;
    justify-content: center;
  }

.swal2-progresssteps {
  font-weight: 500;
  margin: 0 0 1.25rem;
  padding: 0;
}

  .swal2-progresssteps li {
    display: inline-block;
    position: relative;
  }

.swal2-progresscircle {
  color: #2196F3;
  text-align: center;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

  .swal2-progresscircle.swal2-activeprogressstep {
    color: #2196F3;
  }

    .swal2-progresscircle.swal2-activeprogressstep ~ .swal2-progresscircle {
      color: #999;
    }

    .swal2-progresscircle.swal2-activeprogressstep ~ .swal2-progressline {
      background-color: #ddd;
    }

.swal2-progressline {
  background-color: #2196F3;
  height: 0.0625rem;
  vertical-align: middle;
}

[class^='swal2'] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.swal2-show {
  -webkit-animation: show-notification 0.15s;
  animation: show-notification 0.15s;
}

  .swal2-show.swal2-noanimation {
    -webkit-animation: none;
    animation: none;
  }

.swal2-hide {
  -webkit-animation: hide-notification 0.15s forwards;
  animation: hide-notification 0.15s forwards;
}

  .swal2-hide.swal2-noanimation {
    -webkit-animation: none;
    animation: none;
  }

.swal2-animate-success-icon,
.swal2-animate-error-icon,
.swal2-warning,
.swal2-info,
.swal2-question {
  -webkit-animation: animate-circle 0.5s;
  animation: animate-circle 0.5s;
}

.swal2-animate-x-mark {
  -webkit-animation: animate-x-mark 0.5s;
  animation: animate-x-mark 0.5s;
}

@-webkit-keyframes show-notification {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes show-notification {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes hide-notification {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes hide-notification {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
}

@-webkit-keyframes animate-checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }

  30% {
    height: 0;
    width: 1.25rem;
    opacity: 0;
  }

  60% {
    height: 2.5rem;
    width: 1.25rem;
    opacity: 1;
  }

  100% {
    height: 2.5rem;
    width: 1.25rem;
    opacity: 1;
  }
}

@keyframes animate-checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }

  30% {
    height: 0;
    width: 1.25rem;
    opacity: 0;
  }

  60% {
    height: 2.5rem;
    width: 1.25rem;
    opacity: 1;
  }

  100% {
    height: 2.5rem;
    width: 1.25rem;
    opacity: 1;
  }
}

@-webkit-keyframes animate-circle {
  0% {
    color: transparent;
    border-color: transparent;
  }

  25% {
    color: transparent;
  }
}

@keyframes animate-circle {
  0% {
    color: transparent;
    border-color: transparent;
  }

  25% {
    color: transparent;
  }
}

@-webkit-keyframes animate-x-mark {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animate-x-mark {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
